@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #48E5C2;
$secondary-color: #183050;
$third-color: #E03616;
$fourth-color: #3a4252;
$fifth-color: #FCFAF9;
$primary-font: 'Jost', sans-serif;
