.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.iapanel, .playerpanel {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.board {
    position: relative;
    width: 400px; /* Largeur de votre board, ajustez selon vos besoins */
    height: 400px; /* Hauteur de votre board, ajustez selon vos besoins */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir le board */
    background-position: center; /* Centre l'image */
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Répétez pour la taille de votre grille */
    grid-gap: 2px; /* Espacement entre les tuiles */
    margin-bottom: 20px;
}

.tile {
    width: 100%; /* Taille des tuiles */
    height: 100%; /* Taille des tuiles */
    border: 1px solid transparent; /* Bordure des tuiles, transparente pour l'instant */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Curseur indiquant que la tuile est cliquable */
    border: 1px solid #000; 
    aspect-ratio: 1/1;
    position:relative;
    background-size: contain;
    background-position: center;
}

.tile.damaged::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url('/uploads/images/posters/Flamme.svg');
    opacity: 1; /* Ajustez l'opacité selon vos besoins */
    z-index: 3; /* Place l'effet au-dessus du fond et du navire */
    background-size:cover;
}

.tile.targeted::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url('/uploads/images/posters/Target.svg');
    opacity: 1; /* Ajustez l'opacité selon vos besoins */
    z-index: 99; /* Place l'effet au-dessus du fond et du navire */
    background-size:cover;
}

.tile.miss::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url('/uploads/images/posters/Plouf.svg');
    opacity: 1; /* Ajustez l'opacité selon vos besoins */
    z-index: 99; /* Place l'effet au-dessus du fond et du navire */
    background-size:cover;
}

.tile img {
    height: 100%;
    position:absolute;
    z-index: 0;
}

.tile .V {
    top:0;
}

.tile .H {
    left:0;
}

.tile .carrier {
    width: 500%;
}

.tile .battleship {
    width: 400%;
}

.tile .Cruiser {
    width: 300%;
}

.tile .submarine {
    width: 300%;
}

.tile .destroyer {
    width: 200%;
}

.ship-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.orientation-toggle {
    margin-top: 10px;
}

.ship {
    cursor: pointer;
    border: 2px solid transparent;
}

.ship.selected {
    border: 2px solid blue;
}

.ship-container {
    width: 100px; /* Largeur souhaitée pour chaque conteneur de navire */
    height: auto; /* Ajuster la hauteur automatiquement en fonction de la largeur */
    overflow: hidden; /* Masquer tout contenu dépassant de la taille spécifiée */
    position: relative; /* Permet de positionner les navires à l'intérieur */
}

.ship-container img {
    width: 100%; /* Fait en sorte que l'image remplisse complètement le conteneur */
    height: auto; /* Ajuste la hauteur automatiquement pour conserver les proportions */
    display: block; /* Assure que l'image se comporte comme un élément de bloc */
}

.vertical img {
    transform: rotate(90deg);
    left: 50%;
}